.help-container{
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}
.help-container-content{
    width: 40%;
    height: 30%;
    border-radius: 15px;
    margin: 35px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 50px;
    background-color: var(--bg-content);
}
.help-logo img{
    width: 100px;
    height: 100px;
}
@media (max-width: 400px) {
    .help-container-content{
        width: 80%;
    }
}