.help-container{
    width: 100%;
    height: 100%;
    background-color: #ebf5fa;
}
.help-container-content{
    width: 40%;
    height: 30%;
    background-color: white;
    border-radius: 15px;
    margin: 35px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 50px
}
.help-logo img{
    width: 100px;
    height: 100px;
}