.wallet-container{
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    color: var(--text);
}
.wallet-container-content{
    width: 95%;
    height: 85%;
    display: flex;
    gap: 40px;
    margin-left: 50px;
    margin-top: 30px;

}
.balance-and-limit-information{
    display: flex;
    flex-direction: column;
    width: 27%;
    gap: 15px;
}
.order-wallet-infromation{
    display: flex;
    flex-direction: column;
    width: 63%;
    height: 100%;
    gap: 15px;
}
.total-balance{
    width: 100%;
    height: 20%;
    grid-row: 1;
    grid-column: 1;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--bg-content);
}
.card-list{
    width: 100%;
    height: 55%;
    grid-row: 2;
    grid-column: 1;
    background-color: var(--bg-content);
    border-radius: 15px;
    padding: 10px;
}
.limitation{
    width: 100%;
    height: 25%;
    grid-row: 3;
    grid-column: 1;
    background-color: var(--bg-content);
    border-radius: 15px;
    padding: 10px;
    vertical-align: center;
}
.markets{
    width: 96%;
    height: 20%;

    background-color: var(--bg-content);
    border-radius: 15px;
    padding: 10px;
    margin-left: 9px;
}
.last-days-information{
    width: 100%;
    height: 30%;

    background-color: var(--bg-content);
    border-radius: 15px;
    padding: 10px;
}
.statistics{
    width: 100%;
    height: 70%;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--bg-content);
}
.day-statystic{
    width: 96%;
    height: 55%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap :10px;
    background-color: var(--bg);
    padding: 10px;
}
.currency-due-container{
    width: 98%;
    height: 25%;
    background-color: #ebf5fa;
    border-radius: 15px;
    display: flex;
    gap: 15px;
    margin-left: 10px;
    background-color: var(--bg);
}
.currency{
    width: 49%;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--bg-content);
}
.due{
    width: 49%;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--bg-content);
}
.markets{
    display: flex;
    flex-direction: column;
    gap: 30px
}
.markets-options{
    padding-left: 10px;
    padding-right: 10px;
}
.markets-options-list{
    display: flex;
    flex-direction: row;
}
.markets-options-block{
    height: 50px;
    width: 50px;
    background-color: rgba(6, 73, 221, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
}
.markets-options-list-block{
    display: flex;
    flex-direction: column;
    gap : 5px;
    align-items: center;
    border-right: 1px solid rgba(128, 128, 128, 0.22);
    padding-left: 20px;
    padding-right: 20px;
}
.markets-options-list li:last-child .markets-options-list-block {
    border-right: 0;
}
.markets-options-list img{
    width: 30px;
    height: 30px;
}
.Markets{
    height: 80%;
}