.information-container{
    display: flex;
    width: 95%;
    height: 4%;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 25px;
    margin-top: 15px;
}
.page{
    font-weight: bold;
    font-size: 22px;
}
.userbar{
    display: flex;
    gap: 50px;
    align-items: center;
}

.userbar__searchbar img{
    width: 30px;
    height: 30px;
}
.userbar__notification img{
    width: 30px;
    height: 30px;
}
.userbar__account-information{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    background-color: #5a75ff;
    width: 170px;
    height: 35px;
}
.userbar__account-information img {
    width: 30px;
    height: 30px;
}
.userbar__account-information{
    margin-right: 20px;
}
.user-container{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    background-color:#5a75ff;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}

.user-container img{
    width: 30px;
    height: 30px;
}
.notification-panel {
    position: fixed;
    top: 0;
    right: -500px;
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 4px 0 20px rgba(0,0,0,0.15);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.notification-panel.open {
    right: 0;
}

.notification-panel h3 {
    margin-bottom: 15px;
}

.notification-panel ul {
    list-style: none;
    padding: 0;
}

.notification-panel li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}


