.transaction-container{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--bg);
    color: var(--text);
}

.transaction-history-container-content{
    width: 80%;
    height: 80%;
    position: absolute;
    border-radius: 15px;
    top :10%;
    left :7%;
    right: 7%;
    bottom: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    color: var(--text);
    background-color: var(--bg-content);

}

@media (max-width: 400px) {
    .transaction-history-container-content{
        width: 95%;
        height: 80%;
        position: absolute;
        border-radius: 15px;
        top :10%;
        left :2.5%;
        right: 7%;
        bottom: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr 1fr;
        place-items: center;
        color: var(--text);
        background-color: var(--bg-content);
        font-size: 13px;

    }
}