.crypto-metric-custom {
    width: 80%;
    height: 65%;
    border-radius: 14px;
    padding: 16px;
    background-color: var(--bg-content);
    color: var(--text);
}

.crypto-metric .card-title {
    font-size: 14px;
    background-color: var(--bg-content);
    color: var(--text);
}

.crypto-metric .chart-placeholder {
    margin-top: 12px;
    height: 80px;
    display: grid;
    place-items: center;
    font-size: 12px;
    background-color: var(--bg-content);
    color: var(--text);
}