



.header-container{
    width: 15%;
    height : 100%;
}
.header__logo{
    display: flex;
    border-bottom: 1px solid #cac6c6;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    padding-right: 5px;
    padding-bottom: 22px;
    padding-top: 5px;
    gap: 10px;
    justify-content: left;
    align-items: center;
    font-size: 22px;
    font-weight: bold;

}

.header__logo img{
    width: 35px;
    height: 35px;
}