
.header-container{
    width: 15%;
    height : 100%;
    background-color: var(--bg);
    color: var(--text);
}
.header__logo{
    display: flex;
    border-bottom: 1px solid #cac6c6;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    padding-right: 5px;
    padding-bottom: 22px;
    padding-top: 5px;
    gap: 10px;
    justify-content: left;
    align-items: center;
    font-size: 22px;
    font-weight: bold;

}

.header__logo img{
    width: 35px;
    height: 35px;
}
@media (max-width: 400px) {
    .header-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 260px;
        height: 100%;
        background-color: var(--bg);
        color: var(--text);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
        width: 100%;
    }
    .header-container.active {
        transform: translateX(0);
    }
    .burger {
        position: fixed;
        top: 15px;
        left: 15px;
        width: 30px;
        height: 22px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1100;
    }

    .burger span {
        display: block;
        height: 3px;
        width: 100%;
        background: #000;
        margin-bottom: 5px;
        transition: 0.3s;
    }

    /* Анимация */
    .burger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .burger.active span:nth-child(2) {
        opacity: 0;
    }
    .burger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

}