.home-page-container{
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    color: var(--text);
}
.home-page-container-content{
    height: 85%;
    width: 85%;
    display: flex;
    gap :35px;
    flex-direction: column;

    margin: 30px;
    margin-left: 60px;
}
.assets-crypto-grafics{
    width: 100%;
    height: 35%;
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
}
.big-grafic-markets{
    width: 100%;
    height: 60%;
    display: flex;
    gap: 20px;
    padding: 10px;
}
.big-grafic-сustom{
    width: 70%;
    height: 85%;
}
.assets{
    width: 40%;
    height: 110%;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    background-color: var(--bg-content);
}
.crypto-grafics{

    width: 60%;
    height: 110%;
    display: flex;
    gap : 15px;
    padding: 10px;
    align-items: center;
}
.Markets{

    width: 30%;
    height: 85%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--bg-content);
}
.first-blok{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
.second-blok{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
.crypto-metric{
    width: 100%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--bg-content);
}


@media (max-width: 400px) {
    .crypto-grafics{display: none}
    .big-grafic-сustom{
        display: none;
    }
    .assets{
        width: 75%;
        height: 100%;
        border-radius: 20px;
        padding: 10px;
        background-color: var(--bg-content);
        margin-top: 30px;
    }
    .Markets{
        width: 75%;
        height: 85%;
        border-radius: 20px;
        padding: 10px;
        background-color: var(--bg-content);
    }
    .home-page-container{
        width: 100%;
        height: 100%;
        background-color: var(--bg);
        color: var(--text);
    }
}