.home-page-container{
    width: 100%;
    height: 100%;
    background-color: #ebf5fa;
}
.home-page-container-content{
    height: 85%;
    width: 85%;
    display: flex;
    gap :30px;
    flex-direction: column;
    
    margin: 30px;
    margin-left: 60px;
}
.assets-crypto-grafics{
    width: 100%;
    height: 50%;
    
    display: flex;
    gap: 20px;
    padding: 10px;
}
.big-grafic-markets{
    width: 100%;
    height: 50%;
    
    display: flex;
    gap: 20px;
    padding: 10px;
}
.assets{
    
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}
.crypto-grafics{
    
    width: 60%;
    height: 100%;
    display: flex;
    gap : 15px;
    padding: 10px;
}
.big-grafic{
    
    width: 70%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
.Markets{
    
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
.first-blok{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
.second-blok{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
.crypto-metric{
    width: 100%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}
