.currency-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-height: 150px;          /* ← фиксируем высоту */
    overflow-y: auto;           /* ← вертикальный скролл */
    padding-right: 4px;
    background-color: var(--bg-content);
    color: var(--text);
}

/* Scrollbar (Chrome, Edge) */
.currency-list::-webkit-scrollbar {
    width: 6px;
}

.currency-list::-webkit-scrollbar-track {
    background: transparent;
    background-color: var(--bg);
    color: var(--text);
}

.currency-list::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 4px;
    background-color: var(--bg);
    color: var(--text);
}

.currency-item {
    background: #020617;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #1e293b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-content);
    color: var(--text);
}

.currency-item span {
    color: #94a3b8;
    background-color: var(--bg-content);
    color: var(--text);
}

.currency-item strong {
    font-size: 16px;
    background-color: var(--bg-content);
    color: var(--text);
}