@font-face {
    font-family: 'Inter_24pt-Regular.ttf';
    src: url('/fonts/Inter,Roboto/Inter/static/Inter_24pt-Regular.ttf') format('truetype');
}
:root {
    --bg: #ffffff;
    --text: #000000;
}

[data-theme="dark"] {
    --bg: #121212;
    --text: #ffffff;
}
a:link {
    color: black;
    text-decoration: none;
}
ul, ol {
    list-style: none;   /* убираем точки и цифры */
    padding: 0;         /* убираем внутренний отступ */
    margin: 0;          /* убираем внешний отступ */
}
a:visited {
    color: black;
    text-decoration: none;
}
html, body, #root {
    height: 100%;
    width: 100%;
    font-family: 'Inter_24pt-Regular.ttf';
}
button {
    background-color: transparent;
    border: none;
    box-shadow: none;


    margin: 0;


    color: inherit;
    font-size: inherit;
    line-height: inherit;

    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    padding: 5px;
}
button:hover{
    background-color: #b3baef;
}
.HIGHLIGHT{
    font-weight: bold;
}